<!DOCTYPE html>
<html data-ng-app="TCSAMSUKApplication">
    <head> 
        <title>Kingfisher Dashboard</title>
        <link rel="icon" href="/photos/favicon.png" />
        <link href="/css/bootstrap.css" rel="stylesheet" />
        <link href="/css/custom.css" rel="stylesheet" />
        
        <link href="/css/infowindow.css" rel="stylesheet" />
        <link href="/css/scrollBar.css" rel="stylesheet" />
        <link href="/css/jquery.gridster.css" rel="stylesheet" />
        <link href="/css/gridCustom.css" rel="stylesheet" />
        <link href="/css/canvas.css" rel="stylesheet" />
        <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="/css/animate.css" rel="stylesheet" />
        <link href="/css/sidebarMenu.css" rel="stylesheet" />
        <link href="/css/tile.css" rel="stylesheet" />
        
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
        <script src="/plugins/jquery-2.2.0.js"></script>
        <script src="/plugins/bootstrap.js"></script>
        <script src="/plugins/angular.js"></script>
        <script src="/plugins/angular-route.js"></script>
        <script src="/plugins/ui-bootstrap-tpls-1.1.2.js"></script>
        <script src="/plugins/highcharts.js"></script>
        <script src="/plugins/jquery-ticker.js"></script>
        <script src="/plugins/jquery-easing.js"></script>
        <script src="/plugins/jquery.marquee.js"></script>
        
        <script src="/plugins/jquery.gridster.with-extras.js"></script>
        <script src="/plugins/jCanvas.js"></script>
        
        <script src="/scripts/config.js"></script>
        <script src="/scripts/controller.js"></script>
        <script src="/scripts/services.js"></script>
        
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div data-ng-view=""></div>
    </body>
</html>