<div id="wrapper">
    <div data-ng-include="'/pages/Menu.html'"></div>
    <div id="page-content-wrapper">
        <div class="container-fluid" data-ng-class="{'container-fluid-small': width < 990}">
            <h3 class="text-center viewHeader">
                <i class="fa fa-tags"></i>
                Stores With Offline Tills
                <i class="fa fa-tags"></i>
            </h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="marquees" id="tillsOfflineMarquee"> <b>This data is refreshed every six hour </b> <div data-ng-repeat="storeName in storeNameArray" style="display: inline-flex" class="marqueeStoreNames" >{{storeName}}</div> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                <div id="googleMap" class="mapBody animated zoomIn"></div>
                </div>
                <div class="col-md-4" data-ng-class="{contentHolder : width >=990}">
                    <div class="panel panel-primary animated fadeInUpBig" data-ng-repeat="store in storeDetailsList">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{store.storeName}}</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <b>Address: </b> {{store.address}}
                            </p>
                            <p>
                                <b>Contact Number: </b> {{store.phone}}
                            </p>
                            <p>
                                <b>Total Number Of Tills: </b> {{store.totalNumOfTills}}
                            </p>
                            <p>
                                <b>Number Of Tills Offline: </b> {{store.numOfTillsOffline}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-include="'/pages/Footer.html'"></div>
        
    </div>
</div>